h1 {
    color: red;
}

.hero-info-wrapper {
    width: 450px;
}

.site-logo-light {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(340deg) brightness(109%) contrast(102%);
}

.hero-content-wrapper {
    padding-bottom: 45px;
}